.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px 16px;
    margin: 4em 0, 0, 0;
    background-image: url("/public/imagens/fundo.png");
    background-color: rgb(21, 125, 243);
}

.footer ul {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    list-style: none;
}

p {
    color: #ffffff;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    p {
        text-align: center;
        margin: auto;
    }
}