.lista-suspensa {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.lista-suspensa select {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;  
}

@media screen and (max-width: 768px) {
    .lista-suspensa select {
        font-size: 0.9em;
    }
    select {
        font-size: 10px;
        width: 20%;
      }
    .options-list {
        margin-right: 2em;
        padding: 0;
    }
    .lista-suspensa {
        margin-bottom: 2px;
        font-size:24px;
    }
}